body{
    background-color: rgb(37, 37, 37);
    color: rgb(57, 192, 75);
    text-align: center;
}
h1{
    color: rgb(57, 192, 75);

}
h2{
    color: rgb(57, 192, 75);
}
h3{
    color: rgb(57, 192, 75);
}